[DEFAULT]

# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

boxes = ['Ele', 'Mu', 'BJetHS','BJetLS']

# signal binning
# signal_MR =  [450, 500, 550, 600, 650, 700, 800, 900, 1000,1200, 1600, 2000, 2500, 4000]
# signal_Rsq = [0.08, 0.1, 0.15, 0.20, 0.25, 0.30, 0.35, 0.41, 0.52, 0.64,0.80, 1.5]
signal_nBtag = [1.,2.,3.,4.]
signal_MR = [450, 600, 750, 900, 1200, 1600, 4000]
signal_Rsq = [0.10, 0.13, 0.20, 0.30, 0.41, 0.52, 0.64, 1.5]



# for the limit setting
nuisance_parameters = ['xBtag_prime[0,-5.,5.]','xJes_prime[0,-5.,5.]','xPdf_prime[0,-5.,5.]','xIsr_prime[0,-5.,5.]','eff_prime[0,-5.,5.]','lumi_prime[0,-5.,5.]']
other_parameters = ['lumi_uncert[0.044]','lumi_value[19300.]','eff_value[1.0]','eff_uncert[0.06]', 'trigger_uncert[1.05]','lepton_uncert[1.06]']
poi = ['sigma[0.02, 0., 1.]']
######################################################

## TTJets
# [BJetHS]
# variables = ['MR[1900., 400., 4000.]', 'Rsq[0.29, 0.08, 1.5]', 'nBtag[1., 1., 4.]']
# variables_range = ['MR_FULL[400., 4000.]', 'Rsq_FULL[0.08, 1.5]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[400., 4000.]', 'Rsq_LowRsq[0.08, 0.13]', # 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[400., 550.]', 'Rsq_LowMR[0.08, 1.5]', 'nBtag_LowMR[1.,4.]']

# pdf_ttj1b = ['MR0_TTj1b[-1.2161e+02]', 'R0_TTj1b[-1.3008e-01]', 'b_TTj1b[1.6414e+00]', 'n_TTj1b[3.8833e+00]']
# others_ttj1b = ['Ntot_TTj1b[1000., 0, 1000000]']
# btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

# pdf_ttj2b = ['MR0_TTj2b[-2.8339e+02]', 'R0_TTj2b[-2.3205e-01]', 'b_TTj2b[5.1440e-01]', 'n_TTj2b[2.1348e+00]']
# others_ttj2b = ['Ntot_TTj2b[1.9142e+03, 0, 1000000]']
# btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.7663e-01, 0, 1]']

# pdf_vpj = ['MR0_Vpj[-1.4754e+04]', 'R0_Vpj[-2.4369e+00]', 'b_Vpj[3.7744e-03]', 'n_Vpj[1]']
# others_vpj = ['Ntot_Vpj[2.1312e+03, 0, 1000000]']
# btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']
######################################################

# Two component fit

# [BJetHS]
# variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 1.5]', 'nBtag[1., 1., 4.]']
# variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 1.5]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 4000.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 550.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1.,4.]']

# pdf_ttj1b = ['MR0_TTj1b[1.9789e+01]', 'R0_TTj1b[-2.7223e-02]', 'b_TTj1b[5.1685e+00]', 'n_TTj1b[6.0352e+01]']
# others_ttj1b = ['Ntot_TTj1b[1.9650e+03, 0, 1000000]']
# btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

# pdf_ttj2b = ['MR0_TTj2b[-6.7905e+01]', 'R0_TTj2b[-8.4677e-02]', 'b_TTj2b[5.9273e+00]', 'n_TTj2b[1.0739e+02]']
# others_ttj2b = ['Ntot_TTj2b[1.4951e+03, 0, 1000000]']
# btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.7927e-01, 0, 1]']

# pdf_vpj = ['MR0_Vpj[-2.4218e+03]', 'R0_Vpj[-2.8306e-01]', 'b_Vpj[2.6026e-02]', 'n_Vpj[1]']
# others_vpj = ['Ntot_Vpj[1.0323e+00, 0, 1000000]']
# btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']
######################################################

# fit result with three components

[BJetHS]
variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 1.5]', 'nBtag[1., 1., 4.]']
variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 1.5]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 4000.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1.,4.]']

pdf_ttj1b = ['MR0_TTj1b[-1.9669e+02]', 'R0_TTj1b[-9.9752e-02]', 'b_TTj1b[4.5088e-01]', 'n_TTj1b[2.0647e+00]']
others_ttj1b = ['Ntot_TTj1b[1.7584e+03, 0, 1000000]']
btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

pdf_ttj2b = ['MR0_TTj2b[-7.7703e+01]', 'R0_TTj2b[-5.6509e-02]', 'b_TTj2b[5.6281e+00]', 'n_TTj2b[1.0907e+02]']
others_ttj2b = ['Ntot_TTj2b[3.2450e+03, 0, 1000000]']
btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.7442e-01, 0, 1]']

pdf_vpj = ['MR0_Vpj[-4.2276e+03]', 'R0_Vpj[-7.9486e-01]', 'b_Vpj[1.3882e-02]', 'n_Vpj[1]']
others_vpj = ['Ntot_Vpj[3.4381e+03, 0, 1000000]']
btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']
######################################################

[BJetLS]
variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 1.5]', 'nBtag[1., 1., 4.]']
variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 1.5]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 4000.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1.,4.]']

pdf_ttj1b = ['MR0_TTj1b[-6.5332e+02]', 'R0_TTj1b[-9.9752e-02]','b_TTj1b[1.8447e+01]','n_TTj1b[2.9376e+01]']
others_ttj1b = ['Ntot_TTj1b[3.5566e+03, 0, 1000000]']
btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

pdf_ttj2b = ['MR0_TTj2b[-1.4702e+02]', 'R0_TTj2b[-4.0393e-02]', 'b_TTj2b[5.4497e+00]', 'n_TTj2b[1.0595e+02]']
others_ttj2b = ['Ntot_TTj2b[2.1540e+03, 0, 1000000]']
btag_ttj2b = ['f1_TTj2b[0,0,1]', 'f3_TTj2b[1.6365e-01, 0, 1]']

pdf_vpj = ['MR0_Vpj[-2.2938e+02]', 'R0_Vpj[-2.7693e-01]', 'b_Vpj[2.4162e-02]', 'n_Vpj[1]']
others_vpj = ['Ntot_Vpj[1.0548e+03, 0, 1000000]']
btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']
######################################################