[DEFAULT]

# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

boxes = ['Ele', 'Mu', 'BJetHS','BJetLS']

# signal binning
# signal_MR =  [500, 550, 600, 650, 700, 800, 900, 1000,1200, 1600, 2000, 2500, 4000]
# signal_Rsq = [0.08, 0.1, 0.15, 0.20, 0.25, 0.30, 0.35, 0.41, 0.52, 0.64,0.80, 1.5]
# signal_nBtag = [1.,2.,3.,4.]



# for the limit setting
nuisance_parameters = ['xBtag_prime[0,-5.,5.]','xJes_prime[0,-5.,5.]','xPdf_prime[0,-5.,5.]','xIsr_prime[0,-5.,5.]','eff_prime[0,-5.,5.]','lumi_prime[0,-5.,5.]']
other_parameters = ['lumi_uncert[0.044]','lumi_value[19300.]','eff_value[1.0]','eff_uncert[0.06]']
poi = ['sigma[0.02, 0., 1.]']
######################################################

# Two-component fit

# [BJetHS]
# variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 1.5]', 'nBtag[1., 1., 4.]']
# variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 1.5]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 4000.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 550.]', 'Rsq_LowMR[0.10, 1.5]', # 'nBtag_LowMR[1.,4.]']

# pdf_ttj1b = ['MR0_TTj1b[1.4839e+02]', 'R0_TTj1b[1.7831e-02]', 'b_TTj1b[2.5887e+00]', 'n_TTj1b[6.6253e+00]']
# others_ttj1b = ['Ntot_TTj1b[1.8640e+03, 0, 1000000]']
# btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

# pdf_ttj2b = ['MR0_TTj2b[8.3340e+01]', 'R0_TTj2b[-1.8550e-02]', 'b_TTj2b[4.6411e+00]', 'n_TTj2b[6.4506e+01]']
# others_ttj2b = ['Ntot_TTj2b[1.4013e+03, 0, 1000000]']
# btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.8079e-01, 0, 1]']

# pdf_vpj = ['MR0_Vpj[-2.4218e+03]', 'R0_Vpj[-2.8306e-01]', 'b_Vpj[2.6026e-02]', 'n_Vpj[1]']
# others_vpj = ['Ntot_Vpj[1.0323e+00, 0, 1000000]']
# btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']
######################################################




# fit result with three components

[BJetHS]
variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 1.5]', 'nBtag[1., 1., 4.]']
variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 1.5]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 4000.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1.,4.]']

pdf_ttj1b = ['MR0_TTj1b[-1.0399e+03]', 'R0_TTj1b[-4.8657e-01]', 'b_TTj1b[1.0492e+01]', 'n_TTj1b[2.8422e+01]']
others_ttj1b = ['Ntot_TTj1b[1.2421e+03, 0, 1000000]']
btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

pdf_ttj2b = ['MR0_TTj2b[1.0298e+02]', 'R0_TTj2b[-1.2307e-02]', 'b_TTj2b[3.9280e+00]', 'n_TTj2b[2.0537e+01]']
others_ttj2b = ['Ntot_TTj2b[1.3966e+03, 0, 1000000]']
btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.8079e-01, 0, 1]']

pdf_vpj = ['MR0_Vpj[-1.0340e+01]', 'R0_Vpj[4.1129e-02]', 'b_Vpj[1.9252e-01]', 'n_Vpj[1]']
others_vpj = ['Ntot_Vpj[7.1676e+02, 0, 1000000]']
btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']
######################################################

[BJetLS]
variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 1.5]', 'nBtag[1., 1., 4.]']
variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 1.5]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 4000.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1.,4.]']

pdf_ttj1b = ['MR0_TTj1b[-9.7408e+02]', 'R0_TTj1b[-1.4752e-01]','b_TTj1b[1.2272e+01]','n_TTj1b[3.3288e+01]']
others_ttj1b = ['Ntot_TTj1b[3.3324e+03, 0, 1000000]']
btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

pdf_ttj2b = ['MR0_TTj2b[-5.2526e+01]', 'R0_TTj2b[-1.4763e-02]', 'b_TTj2b[5.0522e+00]', 'n_TTj2b[1.1157e+02]']
others_ttj2b = ['Ntot_TTj2b[2.0868e+03, 0, 1000000]']
btag_ttj2b = ['f1_TTj2b[0,0,1]', 'f3_TTj2b[1.6415e-01, 0, 1]']

pdf_vpj = ['MR0_Vpj[-4.5281e+02]', 'R0_Vpj[-2.4058e-01]', 'b_Vpj[1.4914e-02]', 'n_Vpj[1]']
others_vpj = ['Ntot_Vpj[1.2851e+03, 0, 1000000]']
btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']
######################################################