[DEFAULT]

# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)', 'expr::f2_TTj3b(\'1.0-@0\',f3_TTj3b)']
# functions = ['expr::f2_TTj3b(\'1.0-@0\',f3_TTj3b)']

boxes = ['Ele', 'Mu', 'BJetHS','BJetLS']

# signal binning
# signal_MR =  [450, 500, 550, 600, 650, 700, 800, 900, 1000,1200, 1600, 2000, 2500, 4000]
# signal_Rsq = [0.08, 0.1, 0.15, 0.20, 0.25, 0.30, 0.35, 0.41, 0.52, 0.64,0.80, 1.5]
signal_nBtag = [2.,3.,4.]
signal_MR = [450, 600, 750, 900, 1200, 1600, 4000]
signal_Rsq = [0.10, 0.13, 0.20, 0.30, 0.41, 0.52, 0.64, 1.5]



# for the limit setting
nuisance_parameters = ['xBtag_prime[0,-5.,5.]','xJes_prime[0,-5.,5.]','xPdf_prime[0,-5.,5.]','xIsr_prime[0,-5.,5.]','eff_prime[0,-5.,5.]','lumi_prime[0,-5.,5.]']
other_parameters = ['lumi_uncert[0.044]','lumi_value[19300.]','eff_value[1.0]','eff_uncert[0.06]', 'trigger_uncert[1.05]','lepton_uncert[1.06]']
poi = ['sigma[0.02, 0., 1.]']
######################################################

[BJetLS]
variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 1.5]', 'nBtag[2., 2., 4.]']
variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 1.5]', 'nBtag_FULL[2., 4.]', 'MR_LowRsq[450., 4000.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[2., 4.]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[2.,4.]']

pdf_ttj1b = ['MR0_TTj1b[-6.9368e+02]', 'R0_TTj1b[-2.9897e-01]','b_TTj1b[1.0562e-01]','n_TTj1b[1.4052e+00]']
others_ttj1b = ['Ntot_TTj1b[1.4851e+03, 0, 1000000]']
btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

pdf_ttj2b = ['MR0_TTj2b[-1.3226e+02]', 'R0_TTj2b[-3.4541e-01]', 'b_TTj2b[1.5162]', 'n_TTj2b[1.]']
others_ttj2b = ['Ntot_TTj2b[1.0274e+03, 0, 1000000]']
btag_ttj2b = ['f1_TTj2b[0]', 'f3_TTj2b[1.6365e-01, 0, 1]']

pdf_ttj3b = ['MR0_TTj3b[-1.3226e+02]', 'R0_TTj3b[-3.4541e-02]', 'b_TTj3b[1.0162]', 'n_TTj3b[1.]']
others_ttj3b = ['Ntot_TTj3b[9.1274e+02, 0, 1000000]']
btag_ttj3b = ['f1_TTj3b[0]', 'f3_TTj3b[8.6365e-01, 0, 1]']
######################################################

pdf_vpj = ['MR0_Vpj[-2.2938e+02]', 'R0_Vpj[-2.7693e-01]', 'b_Vpj[2.4162e-02]', 'n_Vpj[1]']
others_vpj = ['Ntot_Vpj[1.0548e+03, 0, 1000000]']
btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']
######################################################
